
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#banner{

    background-image: url(/img/nightwish.jpg);
    height: 800px;
    width: 800px;
    background-position: center;
    
}

section h1 {
    color: hotpink;

}

